body {
    background: #2f3338;
    font-family: Arial, Helvetica, sans-serif;
}

.custom-card {
    border-radius: 18px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
}

.note {
    color: white;
}

#level {
    color: white;
}