body {
    background: #2f3338;
    font-family: Arial, Helvetica, sans-serif;
}

.custom-card {
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
}

.btn-dark:hover {
    background-color: #000;
    transform: translateY(-1px);
    transition: 0.2s;
}

.btn-secondary:hover {
    background-color: #5c636a;
    transition: 0.2s;
}

.note {
    color: white;
}