body {
    background: #f8f9fa;

}
.custom-card{
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.counter-btn{
    width: 55px;
}

.coin {
    position: absolute;
    transform: translate(-50%, 0); 
    animation: coinUp 0.8s ease-out forwards;
    pointer-events: none;         
}

@keyframes coinUp {
    0% { transform: translate(-50%, 0); opacity: 1; }
    100% { transform: translate(-50%, -80px); opacity: 0; }
}

