body {
    background: #f8f9fa;
}

.custom-card {
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.door-btn {
    width: 100px;
    height: 60px;
    font-size: 18px;
}


.overlay {
    display: none;        
    position: fixed;         
    top: 0;
    left: 0;
    width: 100vw;            
    height: 100vh;           
    background-color: rgba(0, 0, 0, 0.85); 
    justify-content: center;
    align-items: center;
    z-index: 9999;
    overflow: hidden;       
}


.overlay img {
    width: 100%;            
    height: 100%;          
    object-fit: cover;     
}

.door {
    width: 100px;
    height: 180px;
    background-color: #8B4513; 
    border: 4px solid #5C3317;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
    transition: transform 0.2s, box-shadow 0.2s;
    font-weight: bold;
    color: #fff;
    font-family: sans-serif;
    user-select: none;
}

.door:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}


.door-handle {
    position: absolute;
    right: 10px;
    top: 50%;
    width: 12px;
    height: 12px;
    background-color: gold;
    border-radius: 50%;
    transform: translateY(-50%);
}


.door span {
    position: relative;
    z-index: 1;
}