body {
    background: #2f3338;
    font-family: Arial, Helvetica, sans-serif;
}

.custom-card {
    border-radius: 18px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
}

.note {
    color: white;
}

#level {
    color: white;
}

.coin{
    position: absolute;
    font-size: 28px;
    animation: popCoin 0.8s ease-out forwards;

}

@keyframes popCoin {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-80px) scale(1.5);
        opacity: 0;
    }
}